body {
    background-image: url("cine.jpg");
    color: white;
    background-size: cover;
}

h1{
    margin-left: 1%;
    color:white;
}

.acc h1{
    font-family: Oswald;
    text-align: center;
    font-size: 150px;
    padding-bottom: 18%;
    color: #FFB042;
    padding-top: 4%;
}


nav li {

    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
    justify-content: space-evenly;
    flex-direction: row;
}


li a{
    text-decoration: none;
    color: white;
}


section {
    display: flex;
    width: 90%;
    height: 200px;
    background-color: #AE080B;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 4%;
}

.mf{
    background-color: #FFB042;
}



footer{
    width: 101%;
    background-color: black;
    color: aliceblue;
    height: 26px;
    text-align: center;
    margin: 10% 0px 0px -8px;
}