body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    background-color: black;
}

.index {
  background-image: url('cine.jpg');
}

.contact {
/*background-image: url('../images/contact.jpg');*/
    background-color: black;
}

.about {
    background-color: black;
 /*background-image: url('../images/about.jpg');*/
}



h1{
   margin-left: 1%;
   color:white;

}

/* INDEX (Menu)  ------------------------------------------------------------------------------------------- */
.index nav {

}


.index nav li {

   font-size: 24px;
   font-weight: bold;
   display: flex;
   align-items: center;
   margin-left: -2%;
   margin-right: 5%;
}
.index img{
    margin-right: 58%;
    height: 64px;
    width: 64px;
    margin-top:-0.1%;
}


.index nav ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: -7%;
    position: fixed;
    width: 100%;
    background: #b61f0a;
    height: 7%;
    margin-left: -2%;
}


.index li a{
   text-decoration: none;
   color: white;
}


/* nom starciné   ----------------------------------------------------------------------------------*/
.acc h1{
    font-family: Oswald;
    text-align: center;
    font-size: 150px;
    padding-bottom: 18%;
    color: #FFB042;
    padding-top: 4%;
}



section {
   display: flex;
   width: 90%;
   height: 200px;
   background-color: #00000085;
   border-radius: 9px;
   margin-top: 20px;
   margin-left: 4%;
}

.mf{
   width: 90%;
   background-color: #00000085;
   display: flex;
   height: 423px;
}



div#slider figure img { height: 315px;  margin-right: 1%; }
div#slider { width: 80%; max-width: 1000px; overflow: hidden }
div#slider { margin-left: -9%;
   margin-top: 7%;
   width: 607%;
   max-width: 1300px; }
div#slider figure {
   position: relative;
   width: 540%;
   margin: 0px;
   padding: 66px;
   font-size: 0;
   text-align: left;
   margin-left: -5%;

}

@keyframes slidy {
   0% { left: 0%; }
   20% { left: 0%; }
   25% { left: -100%; }
   45% { left: -100%; }
   50% { left: -200%; }
   70% { left: -200%; }
   75% { left: -300%; }
   95% { left: -300%; }
   100% { left: -400%; }
}




div#slider figure {
     position: relative;
     width: 500%;
     margin: 0;
     padding: 0;
     font-size: 0;
     left: 0;
     text-align: left;
     animation: 30s slidy infinite;
}



footer{
   width: 101%;
   background-color: black;
   color: aliceblue;
   height: 26px;
   text-align: center;
   margin: 10% 0px 0px -8px;
}