cont{

}


h2{
    color:white;
    font-size: 30px;
    margin: 2% 0% 2% 1%;
}

section {
    display: flex;
    width: 90%;
    height: 646px;
    background-color: mediumvioletred;
    margin: 17% 6% 1% 1%;
    padding: 1% 5% 0% 5%;
}


button{
    background-color: #000000;
    color: white;
    border-radius: 12px;
    padding: 5px;
    text-decoration: none;
}

input{
    display: flex;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

